h1{
    padding-left: 67px;
    margin-top: 60px;
    font-size: 27px;
    color: #2d598066;
    text-transform: uppercase;
}
.calculate-form {
    width: 460px;
    height: 100px;
    padding: 0px 60px 40px 60px;
}
input.numbers{
    height: 42px;
    width: 120px;
    float: left;
    display: inline-block;
    margin: 20px 0px;
    padding: 10px 20px;
    border: 1px solid #2d598066;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 18px;
}
select.operations{
    width: 66px;
    height: 64px;
    float: left;
    margin: 20px 5px;
    padding:5px 0 0 10px;
    background-color: #2d598066;
    border: 1px solid rgba(34, 122, 196, 0.4);
    font-size: 36px;
    color: #fff;
}
input.submit_form {
    height: 62px;
    width: 400px;
    display: inline-block;
    padding-top: 5px;
    background-color: rgba(34, 122, 196, 0.4);
    border: 1px solid rgba(15, 30, 44, 0.4);
    border-radius: 4px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    box-shadow: 1px 5px 10px 5px rgba(111, 155, 196, 0.4) inset;
}
div.error-text{
    margin-top: 50px;
    padding-left: 65px;
    font-size: 28px;
}
div.answer-text{
    color: #6a6ab0;
}
div.error-text{
    color: rgb(202, 49, 49);
}
#Numbers{
    float: left;
    margin-top: 20px;
    margin-left: 51.5%;
    display: inline-block;

}
